@import url("https://fonts.googleapis.com/css?family=Lora|Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Raleway");
html, body {
  height: 100%; }

body {
  display: grid;
  font-family: "Ubuntu", sans-serif;
  color: #111; }

a {
  text-decoration: none;
  color: inherit; }

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all .2s ease; }
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(51, 153, 204, 0.5);
    width: 56px;
    height: 56px;
    transition: all .3s ease; }

span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: .25em;
  text-transform: uppercase;
  vertical-align: middle; }

svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all .3s ease; }
  svg:hover:before {
    width: 100%;
    background: #3399cc; }

svg {
  transform: translateX(0); }
  svg:active {
    transform: scale(0.96); }

html, h1, h2, h3, h4, h5, h6, a {
  font-family: "Lora", serif; }

.team {
  margin: 4em 0;
  position: relative; }

.team h1 {
  color: #3399cc;
  margin: 2em; }

.team .item {
  position: relative; }

.team .des {
  background: #111;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 93%;
  transition: .3s ease-in-out; }

.contact-form {
  margin: 6em 0;
  position: relative; }

.contact-form h1 {
  padding: 2em 1px;
  color: #111; }

.contact-form .right {
  max-width: 600px; }

.contact-form .right .btn-secondary {
  background: #f97300;
  color: white;
  border: 0; }

.contact-form .right .form-control::placeholder {
  color: #888888;
  font-size: 16px; }
